$def with (session)
$var title: MAICgregator Admin login 
<h1>MAICgregator Admin Login</h1>
$if session.loggedIn:
    <p>Congrats, you're logged in!</p>
    <p><a href="/admin/view">View Posts</a></p>
    <p><a href="/admin/post">Add Post</a></p>
$else:
    <form action="/admin/" method="post">
        <label>Username:</label>
        <input type="text" name="username" id="username" />
        <label>Password:</label>
        <input type="password" name="password" id="password" />
        <input type="submit" name="submitButton" id="submitButton" />
    </form>    

