$def with ()
$var title: About MAICgregator
<h2>About MAICgregator</h2>
<p>Back to the <a href="/docs">list of documentation</a>.</p>
<p>For questions about MAICgregator and the sources it draws from, please see the <a href="/FAQ" title="FAQs">FAQ</a>.</p>
<p>For a more detailed text about the MAICgregator project, please see the <a href="/statement" title="MAICgregator statement">statement</a>.</p>
<p>To contact the MAICgregator team, please e-mail info --at-- maicgregator ---dot--- org .</p>
<p>Back to the <a href="/docs">list of documentation</a>.</p>
