$def with ()
$var title: MAICgregator documentation
<h1>MAICgregator documentation</h1>
<p><a href="/docs/install" title="install">MAICgregator Install</a></p>
<p><a href="/docs/preferences" title="preferences">MAICgregator Preferences</a></p>
<p><a href="/docs/screenshots" title="screenshots">MAICgregator ScreenShots</a></p>
<p><a href="/docs/graphics" title="graphics">MAICgregator Graphics</a></p>
<p><a href="/UpdateTrusteeInfo" title="update trustee info">Update trustee info</a></p>
<li><a href="/statement" title="statement">MAICgregator statement</a></li>
<p><a href="/docs/about" title="about">About MAICgregator</a></p>
