$def with ()
$var title: MAICgregator Screenshots
<h2>MAICgregator Screenshots</h2>
<p>Back to the <a href="/docs">list of documentation</a>.</p>
<div class="imageBox">
    <p><a href="/static/images/MAICgregatorScreenshotNormal.png" title="normal"><img src="/static/images/MAICgregatorScreenshotNormal_tn.png" title="normal" /></a></p>
    <p>Normal, un-MAICgregated page</p>
</div>

<div class="imageBox">
    <p><a href="/static/images/MAICgregatorScreenshotInjected.png" title="injected"><img src="/static/images/MAICgregatorScreenshotInjected_tn.png" title="injected" /></a></p>
    <p>Injected page, with full complement of MAICgregated data</p>
</div>

<div class="imageBox">
    <p><a href="/static/images/MAICgregatorScreenshotDoD.png" title="dod screenshot"><img src="/static/images/MAICgregatorScreenshotDoD_tn.png" title="dod screenshot" /></a></p>
    <p>DoD funding for the school.  Notice the amount for <a href="http://ict.usc.edu/" title="ICT site">ICT</a> research?</p>
</div>

<div class="imageBox">
    <p><a href="/static/images/MAICgregatorScreenshotPRNews.png" title="pr news screenshot"><img src="/static/images/MAICgregatorScreenshotPRNews_tn.png" title="pr news screenshot" /></a></p>
    <p>Press release search for a mention of the school.  Notice the partnership between the school and Avid Corporation.</p>
</div>

<div class="imageBox">
    <p><a href="/static/images/MAICgregatorScreenshotTrusteesRandom.png" title="trustees random screenshot"><img src="/static/images/MAICgregatorScreenshotTrusteesRandom_tn.png" title="trustees random screenshot" /></a></p>
    <p>Random placement of trustee photos on the page.</p>
</div>

<div class="imageBox">
    <p><a href="/static/images/MAICgregatorScreenshotTrusteesInserted.png" title="trustees inserted screenshot"><img src="/static/images/MAICgregatorScreenshotTrusteesInserted_tn.png" title="trustees inserted screenshot" /></a></p>
    <p>Trustee photos inserted into existing photos on the page.</p>
</div>
<p>Back to the <a href="/docs">list of documentation</a>.</p>
