$def with ()
$var title: MAICgregator install 
<h2>MAICgregator Install</h2>
<p>Back to the <a href="/docs">list of documentation</a>.</p>
<p>To install MAICgregator, you can simply click on the button below:</p>
<p class="downloadImage"><a href="#"><img src="/static/images/downloadMAICgregator.png"/></a></p>
<p>You will have to restart Firefox to complete the installation.  MAICgregator will be initially configured to interject information on every page, to replace images with trustee images (if available), and to randomize links on the page.  If you want to <a href="/docs/preferences">change your preferences</a> you can do so.</p>
<p>Back to the <a href="/docs">list of documentation</a>.</p>
