$def with ()
$var title: MAICgregator Graphics
<h2>MAICgregator Graphics</h2>
<p>Back to the <a href="/docs">list of documentation</a>.</p>
<p>For your design pleasure.  We designed the graphics in <a href="http://www.inkscape.org/">inkscape</a>, <a href="http://live.gnome.org/Dia">dia</a>, and the <a href="http://www.gimp.org/">gimp</a>.  The font is the most excellent <a href="http://www.josbuivenga.demon.nl/delicious.html" title="delicious font">Delicious</a> font designed by Jos Buivenga.</p>
<h3>Logo</h3>
<p><a href="/static/iconDistribute.svg">svg</a></p>
<p><a href="/static/iconDistribute.png"><img src="/static/iconDistribute.png" title="icon" width="200"/></a></p>
<h3>"Data Mining"</h3>
<p><a href="/static/dataMiningBackground.dia">dia</a>, <a href="/static/dataMiningBackground.svg">svg</a></p>
<p><a href="/static/dataMining.png"><img src="/static/dataMining.png" title="icon" width="200"/></a></p>

<p>Back to the <a href="/docs">list of documentation</a>.</p>
