$def with (currentExtensionPath)
$var title: MAICgregator download
<h1>Download MAICgregator</h1>
<p>To install MAICgregator, you can simply click on the button below:</p>
<p class="downloadImage"><a href="$currentExtensionPath"><img src="/static/images/downloadMAICgregator.png"/></a></p>
<p>MAICgregator only works in Firefox version 3 and above.</p>
<p>You will have to specifically "allow" this site to install the MAICgregator extension.  When you click on the "Download MAICgregator" button, a small window will appear in which you will have to click "allow".  When the next window pops up, you will be able to click "Install now" after a few second wait.  Do so, wait for the extension to download and install, and then restart your browser.</p>
<h2>MAICgregator Server Code</h2>
<p>You can also download the <a href="/static/MAICgregatorServer.0.1.4.tar.gz">server code</a> for MAICgregator which, as of right now, is not very well commented, something we will remedy in the near-future.  Its license is a <a href="/license">modified version of the GNU GPLv3</a>.</p>
