$def with (FAQs)
$var title: MAICgregator Frequently Asked Questions
<h1>Frequently Asked Questions, AKA FAQs</h1>
<ul id="FAQ">
$for FAQ in FAQs:
    <li><a href="#$FAQ[0].strip()">$:FAQ[1]</a></li>
</ul>
$for FAQ in FAQs:
    <div id="$FAQ[0].strip()">
        <h2>$:FAQ[1]</h2>
        $:FAQ[2]
        <p><a href="#FAQ">top</a></p>
    </div>

<pre>
http://www.antidatamining.net/
data mining papers:
http://portal.acm.org/citation.cfm?id=1294301.1294302&coll=Portal&dl=ACM&CFID=27284163&CFTOKEN=53604287
http://portal.acm.org/citation.cfm?id=1132960.1132963&coll=Portal&dl=ACM&CFID=27284163&CFTOKEN=53604287
http://portal.acm.org/citation.cfm?id=1083784.1083789&coll=Portal&dl=ACM&CFID=27284163&CFTOKEN=53604287
http://portal.acm.org/citation.cfm?id=979922.979942&coll=Portal&dl=ACM&CFID=27284163&CFTOKEN=53604287
http://portal.acm.org/citation.cfm?id=1281192.1281195&coll=Portal&dl=ACM&CFID=27284163&CFTOKEN=53604287
http://portal.acm.org/citation.cfm?id=1081870.1081970&coll=Portal&dl=ACM&CFID=27284163&CFTOKEN=53604287
http://portal.acm.org/citation.cfm?id=1378245.1378278&coll=Portal&dl=ACM&CFID=27284163&CFTOKEN=53604287
</pre>
