$def with ()
$var title: MAICgregator Frequently Asked Questions
$ qImageName = "Why does the trustee image not match the name?"
$ qGetImages = "How do you get trustee images?"
$ qTrusteeLists = "Why are the trustee lists out of date?"
$ qSources = "What sources do you use?"
$ qLogo = "What is your logo in reference to?"
$ qFinancialCrisis = "What do you think of the current \"financial crisis\"?"
$ qName = "What the hell is a MAICgregator?"
<ul>
    <li>$qName</li>
    <li>$qImageName</li>
    <li>$qGetImages</li>
    <li>$qTrusteeLists</li>
    <li>$qSources</li>
    <li>$qLogo</li>
    <li>$qFinancialCrisis</li>
</ul>
<a href="http://en.wikipedia.org/wiki/Draper_Labs" title="wikipedia article about draper labs">Draper Labs</a>
<a href="http://www.theharvardcrimson.com/article.aspx?ref=157772" title="Harvard Crimson Article about protests">Harvard Crimson article about protests</a>
<img src="http://www.draper.com/interface/title.gif" alt="draper labs logo"/>
<img src="http://www.draper.com/protocol/visitors.jpg" alt="draper labs image; look at all those black echelon inpenetrable windows!"/>
