$def with (currentExtensionPath, posts)
$var title: MAICgregator
<p>MAICgregator is a Firefox <a href="http://www.artwarez.org/femext/index.html">extension</a> that aggregates information about colleges and universities embedded in the military-academic-industrial complex (MAIC).  It searches government funding databases, private news sources, private press releases, and public information about trustees to try and produce a radical cartography of the modern university, a key activity in light of the contemporary financial "crisis".  <a href="/statement" title="statement">Please read the statement</a>.</p>
<p style="text-align: center;" class="downloadImage"><a href="$currentExtensionPath"><img alt="download MAICgregator" src="/static/images/downloadMAICgregator.png"/></a></p>
$:posts
<!--
<h2>Project Abstract</h2>
<div style="clear: both;">
    <div style="font-size: 90%; width: 48%; float: left;">
        <h3>Technical</h3>
            <p>MAICgregator is a means of aggregating information about colleges and universities from a variety of public and private sources.  While schools try to carefully control what types of news items make it to their front page, MAICgregator upsets this by replacing this news with alternative sources.  It does this through a specially-designed Firefox extension that searches for "news"-like elements on a page and</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam commodo fringilla est. Ut urna. Quisque lobortis nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet volutpat massa. Duis risus mauris, tristique sed, varius vel, egestas at, ipsum. Nullam sodales. Nulla lacinia facilisis ipsum. Pellentesque ante ligula, volutpat vitae, egestas imperdiet, consequat sed, sapien. Phasellus laoreet, elit ornare lacinia suscipit, risus arcu condimentum ipsum, in varius dui mi consequat nulla. Etiam volutpat porta mauris. Nulla facilisi. Maecenas a orci. Nullam sed libero. Praesent non tellus non tellus accumsan pharetra. Suspendisse bibendum dolor eleifend massa. Vivamus molestie pretium erat.</p>
    </div>
    <div style="font-size: 90%; width: 48%; float: right;">
        <h3>Artistic</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam commodo fringilla est. Ut urna. Quisque lobortis nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet volutpat massa. Duis risus mauris, tristique sed, varius vel, egestas at, ipsum. Nullam sodales. Nulla lacinia facilisis ipsum. Pellentesque ante ligula, volutpat vitae, egestas imperdiet, consequat sed, sapien. Phasellus laoreet, elit ornare lacinia suscipit, risus arcu condimentum ipsum, in varius dui mi consequat nulla. Etiam volutpat porta mauris. Nulla facilisi. Maecenas a orci. Nullam sed libero. Praesent non tellus non tellus accumsan pharetra. Suspendisse bibendum dolor eleifend massa. Vivamus molestie pretium erat.</p>
    </div>

</div>
<div style="clear: both;">&nbsp;</div>
-->
<p><a href="/feed/rss" title="posts rss feed">Blog posts RSS feed</a></p>
