$def with ()
$var title: MAICgregator Video

<h2>MAICgregator Video</h2>

<script type='text/javascript' src='http://maicgregator.org/static/swfobject.js'></script>
 
<div id='mediaspace'>This text will be replaced</div>
 
<script type='text/javascript'>
      var so = new SWFObject('http://maicgregator.org/static/player.swf','mpl','320','240','9');
        so.addParam('allowfullscreen','true');
          so.addParam('allowscriptaccess','always');
            so.addParam('wmode','opaque');
              so.addVariable('file','http://maicgregator.org/static/MAICgregatorVideo.flv');
                so.addVariable('frontcolor','ffffff');
                  so.addVariable('lightcolor','cc9900');
                    so.addVariable('skin','http://www.longtailvideo.com/jw/upload/overlay.swf');
                      so.addVariable('controlbar','over');
                      so.addVariable('embed','true');
                        so.write('mediaspace');
</script>
<p>You can also download a <a href="http://maicgregator.org/static/MAICgregatorVideo.ogv">higher quality version of the video</a> in <a href="http://theora.org/">Ogg Theora</a> format.  Free software such as <a href="http://www.videolan.org/vlc/">VLC</a> should be able to play Ogg Theora and Ogg Vorbis, which are free software video and audio compression formats, respectively, that offer an alternative to proprietary video and audio formats such as mp3, h264, avi, and others.</p>
<p>We have also uploaded the video to <a href="http://vimeo.com/10223798">vimeo</a>.</p>
