$def with ()
$var title: MAICgregator License

<h2>SLSA 2009 Presentation</h2>

<script type='text/javascript' src='http://maicgregator.org/static/swfobject.js'></script>
 
<div id='mediaspace'>This text will be replaced</div>
 
<script type='text/javascript'>
      var so = new SWFObject('http://maicgregator.org/static/player.swf','mpl','320','240','9');
        so.addParam('allowfullscreen','true');
          so.addParam('allowscriptaccess','always');
            so.addParam('wmode','opaque');
              so.addVariable('file','http://maicgregator.org/static/SLSA2009.flv');
                so.addVariable('frontcolor','ffffff');
                  so.addVariable('lightcolor','cc9900');
                    so.addVariable('skin','http://www.longtailvideo.com/jw/upload/overlay.swf');
                      so.addVariable('controlbar','over');
                        so.write('mediaspace');
</script>
<div>
    <p>Apologies for the poor video quality; this is my first time recording video from my webcam in Linux, and it appears that I have to work on making it less...blocky.</p>
    <p>You can download a version of the video in <a href="http://maicgregator.org/static/SLSA2009.avi">AVI format</a>.</p>
    <p>The <a href="http://maicgregator.org/static/SLSA2009Slides/SLSA2009.html">slides are also available</a>, if you want to follow them during the presentation.</p>
</div>
