$def with ()
$var title: About the MAICgregator project
<h1>A statement about MAICgregator</h1>
<p>data cut-ups, "data mining" as rhetorical slippage</p>
<p>"Actually, we borrowed the idea from a trick of the official photographers of the Prussian army regiments.  They used to have elaborate oleolithographed mounts, representing a group of uniformed men with a barracks or a landscape in the background, but with the faces cut out; in these mounts, the photographers then inserted photographic portraits of the faces of their customers, generally colouring them later by hand.  But the aesthetic purpose, if any, of this very primitive kind of photomontage was to idealize reality, wheras the Dada photomonteur set out to give to something entirely unreal all the appearances of something real that had actuall been photographed."  Hanna H&ouml;ch, Interview with Edouard Roditi (1959), _Dada_, Phaidon Press, 2006, edited by Rudolf Kuenzli, p. 232</p>
