$def with (schoolNamesList)
$var title: Update Trustee Information
<form>
    <fieldset id="TrusteeSchoolNames">
        <p><label>School Name:</label>
        <select id="SchoolSelect">
$for schoolName in schoolNamesList:
    <option value="$schoolName[0]">$schoolName[1]</option>
</select></p>
    </fieldset>

<div>
    <fieldset id="TrusteeInfoFieldset" style="display: none;">
        <p>No trustees were found.  If you can provide us any information about where we can get these trustee names, we'd appreciate it.  Thanks!</p>
        <textarea id="trusteeInfo" rows="10" cols = "40"></textarea>
        <p><label>What is the name of this site?</label><input type="text" name="human" id="humanInfo" /></p>
        <input type="button" value="Submit trustee information" id="submitTrusteeInfo" name="submitTrusteeInfo" />

    </fieldset>
    <fieldset id="TrusteeUpdateInfoFieldset" style="display: none;">
        <p><label>Trustee Name:</label>
        <select name="TrusteeSelect" id="TrusteeSelect">
        </select></p>
        <p><label>Trustee Place of Business (URL)</label>
        <input type="text" name="trusteeURL" id="trusteeURL" /></p>
        <p><label>Trustee Bio</label><br/>
        <textarea id="trusteeBio" rows = "10" cols = "40"></textarea></p>
        <p><label>What is the name of this site?</label><input type="text" name="human" id="humanUpdateInfo" /></p>
        <input type="button" value="Submit trustee information" id="submitTrusteeInfoUpdate" name="submitTrusteeInfoUpdate" />
    </fieldset>
</div>
</form>
<div>
    <p id="message">&nbsp;</p>
</div>

$# add a "captcha" thing, and maybe a hidden form element or two...

$# We need to do the following:
$#  Setup page that lists the available schools
$#  Do an ajax request that gets the trustees for that school
$#      If there are no trustees, put form that gives place to get trustee info
$#  Put trustee names in list
$#  Upon selecting trustee, have options for bio and place of work
$#  On submit, send via ajax and store in separate RDF store for review
