body, html {
    font-family: Verdana, Helvetica, sans-serif;
    /*background-image: url('/static/targetBackground.png');*/
    background-image: url('/static/dataMiningBackground.png');
    background-color: #f66f5d;
    color: #dfef21;
    margin: 0em;
    padding: 0em;
    z-index: 0;
}

a, a:visited {
    background-color: #f66f5d;
    color: #dfef21;
}

a img {
    border: none;
}

h1, h2, h3 {
    font-family: "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Courier New", Courier, monospace;
}

div#logo {
    position: fixed;
    top: 10em;
    left: 12em;
    z-index: 0;
    background-color: transparent;
}

div#menu {
    margin: 0em;
    padding: 0em;
    background-image: url('/static/target.png');
    background-repeat: none;
    width: 18em;
    position: relative;
    top: 3em;
    left: 1em;
    z-index: 10;
}

div#menu ul {
    margin-left: 3.0em;
    padding: 0em;
    padding-top: 2.5em;
    padding-bottom: 3.5em;
    width: 10em;
    opacity: 0.9;
    list-style-type: none;
    font-family: "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Courier New", Courier, monospace;
}

div#menu ul li {
    margin-bottom: 5px;
}

div#menu ul a {
    display: block;
    width: 100%;
    background-color: #ef2121;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
}

div#menu ul a:hover {
    color: #f66f5d;
    background-color: #dfef21;

}

div#header {
    padding: 1em;
    font-size: 150%;
    font-weight: bolder;
    background-color: #f66f5d;
    color: #dfef21;
}

div#header h1 {
    margin: 0em;
    padding: 0em;
}

div#content {
    position: absolute;
    top: 0em;
    left: 24em;
    clear: both;
    /*background-color: #ef2121;*/
    background-image: url('/static/contentBackground.png');
    padding: 1em;
    opacity: 0.9;
    width: 30em;
}
a:hover {
    color: #f66f5d;
    background-color: #dfef21;
}

ul {
    margin: 0em;
    padding: 0em;
}

li {
    list-style: none;
    margin: 0em;
    margin-bottom: 5px;
    padding: 0em;
}

label {
    width: 20em;
    text-align: right;
}

input, textarea {
    border: 3px solid #444;
    padding: 5px;
}

fieldset {
    border: none;
}
